[submodule "sources/LookingGlass"]
	path = sources/LookingGlass
	url = https://github.com/gnif/LookingGlass
[submodule "sources/linux-tkg-actions"]
	path = sources/linux-tkg-actions
	url = https://github.com/hurrhnn/linux-tkg-actions
